{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caixa - Novo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-group" role="group">
            <input class="btn btn-success btn-salvar" type="submit" value="Salvar" />
                            <a class="btn btn-primary btn-voltar" href="{{ path('caixa_index') }}">Back to the list</a></div>
    {{ form_end(form) }}


{% endblock %}
